<main class="container container-card mt-5 centrate">
  <h1 class="text-center mb-4 glow">AJUSTES DEL JUEGO</h1>

  <form (ngSubmit)="savePreferences()" class="mx-auto">

    <div class="mb-4">
      <label for="nUfos" class="form-label">NÚMERO DE UFOS</label>
      <select id="nUfos" name="nUfos" [(ngModel)]="nUfos" class="form-select">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="9">9</option>
      </select>
    </div>

    <div class="mb-4">
      <label for="time" class="form-label">TIEMPO DE JUEGO (SEGUNDOS)</label>
      <select id="time" name="time" [(ngModel)]="time" class="form-select">
        <option value="60">60</option>
        <option value="120">120</option>
        <option value="180">180</option>
      </select>
    </div>

    <div class="form-check mb-4">
      <input type="checkbox" id="doubleSpeed" name="doubleSpeed" [(ngModel)]="doubleSpeed" class="form-check-input">
      <label for="doubleSpeed" class="form-check-label">ACTIVAR DOBLE VELOCIDAD</label>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success btn-lg">GUARDAR AJUSTES</button>
    </div>
  </form>

  <div *ngIf="message" class="text-center mt-4">
    <p class="ajustes-guardados glow">{{ message }}</p>
  </div>
</main>
