<main class="container mt-5 text-center">
  <h1 class="glow mb-4">RANKING DE PUNTUACIONES</h1>

  <div class="records-table-container mx-auto">
    <table class="table table-dark table-striped table-bordered align-middle records-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Usuario</th>
        <th>Puntuación</th>
        <th>UFOs</th>
        <th>Tiempo (s)</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody id="records-body">
      </tbody>
    </table>
  </div>


  <p id="no-records" class="mt-4" style="display:none;">No hay puntuaciones registradas todavía.</p>
</main>

