<main class="container text-center mt-5">
  <img id='missile' src='assets/imgs/missile.png' STYLE="left:300px; bottom:10px; height:90px; width:50px" />
  <div id="container">
  </div>
  <div class="points-container glow">
    <span class="points-txt glow">PUNTOS:   </span>
    <div id="points">0</div><br><br>
    <span class="points-txt">TIEMPO:</span>
    <div id="timePlay">60 (s)</div>
  </div>

  <div id="endPanel" class="end-panel hidden">
    <div class="end-panel-content">
      <h2> Tiempo Agotado</h2><br>
      <p id="finalScoreText">Tu puntuación final es: <span id="finalScoreValue">0</span></p><br>
      <button id="returnMenuBtn" class="btn btn-primary">Volver al Menú</button>
    </div>
  </div>
</main>
