<main class="container mt-5 text-center centrate">
  <div class="two-columns" >
    <div class="column">
      <img  src="assets/imgs/logo_v2.png" alt="UFO" style="width:100%; height:auto;" />
    </div>

    <div class="column img-back">
      <h2 class="glow"> BIENVENIDO A UFO BATTLE !</h2>

      <p class="txt-home">
        UFO Battle es un juego donde el jugador debe destruir el mayor número posible de UFOS antes de que se agote el tiempo. <br>
        Controla un misil que se desplaza horizontalmente y dispara hacia los enemigos que cruzan el cielo.<br>
        Desafía tus reflejos y alcanza la máxima puntuación para coronarte como el mejor superando al resto de jugadores.
      </p>

      <a class="glow a-play" routerLink="play">PLAY!</a>
    </div>
  </div>
</main>

